[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test
[access "refs/*"]
	owner = group user/krzysztofmiciul
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/krzysztofmiciul
	label-Verified = -1..+1 group user/krzysztofmiciul
	push = group user/krzysztofmiciul
	read = group user/krzysztofmiciul
	rebase = group user/krzysztofmiciul
	removeReviewer = group user/krzysztofmiciul
	submit = group user/krzysztofmiciul
[access "refs/heads/*"]
	create = group user/krzysztofmiciul
	push = +force group user/krzysztofmiciul
	pushMerge = group user/krzysztofmiciul
	read = group user/krzysztofmiciul
[access "refs/tags/*"]
	push = group user/krzysztofmiciul
	push = +force group user/krzysztofmiciul
